<h1>商品登録</h1>
<%= form_with model: @item, url: admin_items_path do |f| %>
<div>
  <%= f.label :name, "商品" %>
  <%= f.text_field :name, placeholder: "商品名" %>
</div>
<div>
  <%= f.label :introduction %>
  <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
</div>

<dev>
  <%= f.label :image %>
  <%= f.file_field :image, accept: "image/*" %>
</dev>

<div>
  <%= f.label :genre_id, "ジャンル" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), option = { include_blank: "--選択してください--" } %>
</div>

<div>
  <%= f.label :price %>
  <%= f.number_field :price, placeholder: 1000 %>
</div>

  <%= f.submit "登録" %>

<% end %>